.cuerpo{
    background-color: rgb(178, 178, 207);
}

.Titulo{
    text-align: center;
    
}
.bloque{
    margin-left: 150px;
    margin-right: 150px;
    background-color: aquamarine;
    border-radius: 10px;
}

.caja{
    margin-left: 150px;
    padding: 10px;
    background-color: aliceblue;
    width: 225px;
    height: 300px;
    border-radius: 8px;
    align-self: auto;
    border-style: initial;
}

.img-ver{
    width: 1390px;
    height: 440px;
    border-radius: 10px;
}

.imagen1{
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 200px;
    height: 200px;
}

.caja2{
    margin-left: 150px;
    padding: 10px;
    background-color: aliceblue;
    width: 225px;
    height: 300px;
    border-radius: 8px;
    align-self: auto;
    border-style: initial;
}

.imagen2{
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 200px;
    height: 200px;
}

.contenedor {
      display: flex;          
      gap: 10px;             
      justify-content: start; 
}

